{% extends 'index.html' %}
{% block page-content %}
    <style>
    .table > tbody > tr > td,
    .table > thead > tr > th{
      padding: 8px 0;
        width:80px;
      overflow: hidden;
      text-overflow:ellipsis;
      white-space: nowrap;
    }
    </style>
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header"><i class="fa  fa-print "></i>&nbsp;<span>批量执行操作日志</span> </h1>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-body">


                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#model" data-toggle="tab"><i class="fa fa-cubes"></i> Ansible模块</a>
                            </li>
                            <li><a href="#profile" data-toggle="tab"><i class="fa fa-tasks"></i> Playbook日志</a>
                            </li>

                        </ul>


                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="model">
{#                                <div class="row">#}
{#                                    <div class="col-lg-12">#}
{#                                        <br>#}
{#                                        <div class="panel panel-default">#}
{#                                            <!-- /.panel-heading -->#}
{#                                            <div class="panel-body">#}
{#                                                <form class="form-inline row">#}
{#                                                    <div class="form-group col-lg-6 col-md-6 col-sm-10 col-xs-12" style="text-align: left">#}
{#                                                        <label class="control-label ">查询日期</label>#}
{#                                                        <input class="form-control " style="width:220px"#}
{#                                                               id="dateRangeModel" name="dateRangeModel" type="text"#}
{#                                                               readonly/>#}
{#                                                    </div>#}
{#                                                    <div class="form-group form-group-sm  col-lg-6 col-md-6 col-sm-2 col-xs-12" style="text-align: right">#}
{#                                                        <input type="button" id="queryModel" class="btn btn-primary"#}
{#                                                               value="查询"/>#}
{#                                                    </div>#}
{#                                                </form>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
                                <div class="row">
                                    <div class="col-lg-12" style="padding: 10px">
                                        <form class="form-inline" style="float: right;">
                                            <label class="control-label ">查询日期</label>
                                            <input class="form-control select-sm auto-input input-sm"
                                                   id="dateRangeModel" name="dateRangeModel" type="text"
                                                   readonly/>

                                            <input type="button" id="queryModel" class="btn btn-primary btn-sm"
                                                   value="查询"/>
                                        </form>
                                        <table id="modelTableList"
                                               class="table table-striped table-bordered table-advance nowrap">
                                            <thead>
                                            <tr>
                                                <th class="text-center">操作用户</th>
                                                <th class="text-center">模块名称</th>
                                                <th class="text-center">模块参数</th>
                                                <th class="text-center">操作时间</th>
{#                                                {% if perms.can_delete_log_ansible_model %}#}
{#                                                    <th class="text-center">操作</th>#}
{#                                                {% endif %}#}
                                            </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="profile">
{#                                <div class="row">#}
{#                                    <div class="col-lg-12">#}
{#                                        <br>#}
{#                                        <div class="panel panel-default">#}
{#                                            <!-- /.panel-heading -->#}
{#                                            <div class="panel-body">#}
{#                                                <form class="form-inline">#}
{#                                                    <div class="form-group col-lg-6 col-md-6 col-sm-10 col-xs-12" style="text-align: left">#}
{#                                                        <label class="control-label ">查询日期</label>#}
{#                                                        <input class="form-control" style="width: 185px"#}
{#                                                               id="dateRangePlaybook" name="dateRangePlaybook"#}
{#                                                               type="text" readonly/>#}
{#                                                    </div>#}
{#                                                    <div class="form-group form-group-sm  col-lg-6 col-md-6 col-sm-2 col-xs-12" style="text-align: right">#}
{#                                                        <input type="button" id="queryPlaybook" class="btn btn-primary"#}
{#                                                               value="查询"/>#}
{#                                                    </div>#}
{#                                                </form>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
                                <div class="row">
                                    <div class="col-lg-12" style="padding-top: 10px;">
                                        <form class="form-inline" style="float: right">
                                            <label class="control-label ">查询日期</label>
                                            <input class="form-control input-sm auto-input"
                                                   id="dateRangePlaybook" name="dateRangePlaybook"
                                                   type="text" readonly/>
                                            <input type="button" id="queryPlaybook" class="btn btn-primary btn-sm"
                                                   value="查询"/>

                                        </form>
                                        <table id="playbookTableList"
                                               class="table table-striped table-bordered table-advance table-hove displayr nowrap"
                                               style="word-break:break-all; word-wrap:break-word;width:100%">
                                            <thead>
                                            <tr>
                                                <th class="text-center">任务ID</th>
                                                <th class="text-center">操作用户</th>
                                                <th class="text-center">Playbook名称</th>
                                                <th class="text-center">Playbook内容</th>
                                                <th class="text-center">操作时间</th>
{#                                                {% if perms.delete_log_ansible_playbook %}#}
{#                                                    <th class="text-center">操作</th>#}
{#                                                {% endif %}#}
                                            </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <!-- /.row (nested) -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- 模态框（Modal） -->
        <div class="modal fade" id="myAnsibleModelModal" tabindex="-1" role="dialog"
             aria-labelledby="myAnsibleModelModalLabel" aria-hidden="true">
            <div class="modal-dialog" style="width:1280px;height:auto;">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"
                                aria-hidden="true">×
                        </button>
                        <h4 class="modal-title" id="myAnsibleModelModalLabel">
                            执行结果
                        </h4>
                    </div>
                    <div class="modal-body">
							<pre class="traditional">
								<div id="ansible_task_result">
								</div>
							</pre>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default"
                                data-dismiss="modal">关闭
                        </button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </div>

    <div class="modal fade" id="playbookSum" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" style="width:1280px;height:auto;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        汇总结果
                    </h4>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <i class="fa fa-sitemap  "></i>状态比率
                            </div>
                            <!-- /.panel-heading -->
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <div id="statPer" style="width: 600px;height:400px;">
                                    </div>
                                </div>
                                <!-- /.table-responsive -->
                            </div>
                            <!-- /.panel-body -->
                        </div>
                        <!-- /.panel -->
                    </div>
                    <div class="col-lg-6">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <i class="fa fa-tachometer"></i>事件汇总
                            </div>
                            <!-- /.panel-heading -->
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <div id="summary">
                                    </div>
                                </div>
                                <!-- /.table-responsive -->
                            </div>
                            <!-- /.panel-body -->
                        </div>
                        <!-- /.panel -->
                    </div>

                </div><!-- /.modal -->
            </div>
        </div>
    </div>
     <script>
         $(document).ready(function () {
             var autoinput = $("input.auto-input");
             autoinput.attr('size',17);
             autoinput.keyup(function () {
                 $(this).attr('size', $(this).val().length > 17 ? $(this).val().length : 17);
             });
             autoinput.keydown(function () {
                 $(this).keyup()
             });
         });
    </script>
        <script type="text/javascript">
                var modelTable = null;
                var playbookTable = null;

                $(document).ready(function () {
                    $('.nav-tabs').on('shown.bs.tab', function (e) {
                        var table = $.fn.dataTable.fnTables(true);
                        if (table.length > 0) {
                            $(table).dataTable().fnAdjustColumnSizing();
                        }
                    });

                    $("#queryModel").click(function () {
                        initModelTable();

                    })

                    $("#queryPlaybook").click(function () {
                        initPlaybookTable();
                    })

                    initModelDate();
                    initPlaybookDate();
                    initModelTable();
                    initPlaybookTable();
                });

                function initModelDate() {
                    $('#dateRangeModel').daterangepicker({
//		"dateLimit" : {
//             days : 30
//         }, //起止时间的最大间隔
                        "autoUpdateInput": true,//初始化赋值
                        "singleDatePicker": false,//设置为单个的datepicker，而不是有区间的datepicker
                        "showDropdowns": true,//是否允许年份和月份通过下拉框的形式选择
                        "showCustomRangeLabel": false,//是否不显示自定义面板 默认true
                        "alwaysShowCalendars": true,// 是否是否总是显示日期面板 默认false
                        "showWeekNumbers": false, //是否显示第几周
                        "timePicker": false, //是否显示小时和分钟
                        "timePickerIncrement": 60, //时间的增量，单位为分钟
                        "timePicker24Hour": true, //是否使用24小时制来显示时间
                        "buttonClasses": ['btn btn-sm'], //按钮CSS
                        "applyClass": 'btn-small btn-primary',
                        "cancelClass": 'btn-small',
                        "separator": ' 至 ',
                        "startDate": moment().subtract('days', 6),
                        "endDate": new Date(),
                        "maxDate": new Date(),
                        "opens": "center",//日期选择框的弹出位置
                        "ranges": {
                            //'最近1小时': [moment().subtract('hours',1), moment()],
                            '今日': [moment().startOf('day'), moment()],
//			'昨日': [moment().subtract('days', 1).startOf('day'), moment().subtract('days', 1).endOf('day')],
                            '最近7日': [moment().subtract('days', 6), moment()],
                            '最近30日': [moment().subtract('days', 29), moment()]
                        },
                        "locale": {
                            "format": 'YYYY/MM/DD',//日期格式
                            "applyLabel": '确认',
                            "cancelLabel": '取消',
                            "fromLabel": '起始时间',
                            "toLabel": '结束时间',
                            "weekLabel": 'W',
                            "customRangeLabel": '自定义',
                            "daysOfWeek": ["日", "一", "二", "三", "四", "五", "六"],
                            "monthNames": ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"],
                        },
                    }, function (start, end, label) {
//	    $('#dateRange').val(start.format('YYYY-MM-DD'));
//        alert('A date range was chosen: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
                    });
                }

                function initPlaybookDate() {
                    $('#dateRangePlaybook').daterangepicker({
//		"dateLimit" : {
//             days : 30
//         }, //起止时间的最大间隔
                        "autoUpdateInput": true,//初始化赋值
                        "singleDatePicker": false,//设置为单个的datepicker，而不是有区间的datepicker
                        "showDropdowns": true,//是否允许年份和月份通过下拉框的形式选择
                        "showCustomRangeLabel": false,//是否不显示自定义面板 默认true
                        "alwaysShowCalendars": true,// 是否是否总是显示日期面板 默认false
                        "showWeekNumbers": false, //是否显示第几周
                        "timePicker": false, //是否显示小时和分钟
                        "timePickerIncrement": 60, //时间的增量，单位为分钟
                        "timePicker24Hour": true, //是否使用24小时制来显示时间
                        "buttonClasses": ['btn btn-sm'], //按钮CSS
                        "applyClass": 'btn-small btn-primary',
                        "cancelClass": 'btn-small',
                        "separator": ' 至 ',
                        "startDate": moment().subtract('days', 6),
                        "endDate": new Date(),
                        "maxDate": new Date(),
                        "opens": "center",//日期选择框的弹出位置
                        "ranges": {
                            //'最近1小时': [moment().subtract('hours',1), moment()],
                            '今日': [moment().startOf('day'), moment()],
//			'昨日': [moment().subtract('days', 1).startOf('day'), moment().subtract('days', 1).endOf('day')],
                            '最近7日': [moment().subtract('days', 6), moment()],
                            '最近30日': [moment().subtract('days', 29), moment()]
                        },
                        "locale": {
                            "format": 'YYYY/MM/DD',//日期格式
                            "applyLabel": '确认',
                            "cancelLabel": '取消',
                            "fromLabel": '起始时间',
                            "toLabel": '结束时间',
                            "weekLabel": 'W',
                            "customRangeLabel": '自定义',
                            "daysOfWeek": ["日", "一", "二", "三", "四", "五", "六"],
                            "monthNames": ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"],
                        },
                    }, function (start, end, label) {
//	    $('#dateRange').val(start.format('YYYY-MM-DD'));
//        alert('A date range was chosen: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
                    });
                }

                var initModelTable = function () {
                    if (modelTable != null) {
                        modelTable.fnClearTable(0);
                        modelTable.fnDraw(); //重新加载数据
                        modelTable.fnDestroy();
                    }
                    modelTable = $('#modelTableList').dataTable({
                        "fnPreDrawCallback": function () {
                            $('.dataTable_header').remove();
                        },
                        "aLengthMenu": [10, 20, 50, 100], //更改显示记录数选项
                        "bProcessing": true,
                        "bStateSave": true, //是否打开客户端状态记录功能,此功能在ajax刷新纪录的时候不会将个性化设定回复为初始化状态
                        "bJQueryUI": false, //是否使用 jQury的UI theme
                        "bFilter": false,// 搜索栏
                        "bLengthChange": true, //关闭每页显示多少条数据
                        "bSort": false,
                        "bStateSave": false,
                        "bServerSide": true,
                        "iDisplayStart": 0,
                        "iDisplayLength": 10,
                        "bScrollCollapse": true, //是否开启DataTables的高度自适应，当数据条数不够分页数据条数的时候，插件高度是否随数据条数而改变
                        //"bAutoWidth": false, //是否自适应宽度
                        "aoColumns": [//设定各列宽度
                            {"mData": "ans_user", "sDefaultContent": "", "bSearchable": false, "sClass": "text-center"},
                            {
                                "mData": "ans_model",
                                "sDefaultContent": "",
                                "bSearchable": false,
                                "sClass": "text-center"
                            },
                            {
                                "mData": "ans_args",
                                "sDefaultContent": "",
                                "bSearchable": false,
                                "sClass": "text-left vertical-align: middle"
                            },
                            {
                                "mData": "create_time",
                                "sDefaultContent": "",
                                "bSearchable": false,
                                "sClass": "text-center"
                            }
                           /* {"mData": null, "sDefaultContent": "", "bSearchable": false, "sClass": "text-center"},*/
                        ],
                        "oLanguage": {
                            "sLengthMenu": "每页显示 _MENU_条",
                            "sZeroRecords": "没有找到符合条件的数据",
                            "sProcessing": " 数据加载中， 请稍候......",
                            "sInfo": "当前第 _START_ - _END_ 条　共计 _TOTAL_ 条",
                            "sInfoEmpty": "没有记录",
                            "sInfoFiltered": "(从 _MAX_ 条记录中过滤)",
                            "sSearch": "",
                            "oPaginate": {
                                "sFirst": "首页",
                                "sPrevious": "前一页",
                                "sNext": "后一页",
                                "sLast": "尾页"
                            }
                        },
                        "fnRowCallback": function (nRow, aData, iDisplayIndex) {
                            var ans_server = aData.ans_server;
                            var id = aData.id;
                            var eq0='<a onclick="operationTap(this,\''+id+'\',\''+ans_server+'\',\'ansible\')">'+aData.ans_user+'</a>';
                          /*  var html = '<a href="javascript:" onclick="getAnsibleServer(this,\'' + ans_server + '\')">' +
                                '	<button class="btn btn-info btn-xs"  data-toggle="modal" data-target="#myAnsibleModelModal">' +
                                '		<abbr title="查看目标服务器"><i class="fa  fa-group   "></i></abbr>' +
                                '	</button>' +
                                '</a>' +
                                '<a href="javascript:" onclick="getAnsibleModelResult(this,\'' + id + '\')">' +
                                '	<button class="btn btn-primary btn-xs"  data-toggle="modal" data-target="#myAnsibleModelModal">' +
                                '		<abbr title="查看原始执行结果"><i class="glyphicon glyphicon-zoom-in  bigger-110 icon-only"></i></abbr>' +
                                '	</button>' +
                                '</a>' +
                                '<a href="javascript:" onclick="getAnsibleConciseResult(this,\'' + id + '\')">' +
                                '	<button class="btn btn-primary btn-xs"  data-toggle="modal" data-target="#myAnsibleModelModal">' +
                                '		<abbr title="查看简化执行结果"><i class="glyphicon glyphicon-zoom-out  bigger-110 icon-only"></i></abbr>' +
                                '	</button>' +
                                '</a>' +
                                ' <a href="javascript:" onclick="exportAnsibleResult(this,\'' + id + '\')" download="export.csv" >' +
                                '	<button class="btn btn-primary btn-xs" >' +
                                '		<abbr title="导出简化执行结果(CSV文件)"><i class="glyphicon glyphicon-export  bigger-110 icon-only"></i></abbr>' +
                                '	</button>' +
                                '</a> ';*/

                           // $('td:eq(4)', nRow).html(html);//设置该列的值
                            $('td:eq(0)',nRow).html(eq0);
                            return nRow;
                        },
                        "sAjaxSource": "/log/ansible/log/model/",
                        "fnServerData": retrieveModelData
                    });
                }

                function retrieveModelData(sSource, aoData, fnCallback) {
                    var iDisplayStart = 0;
                    var iDisplayLength = 10;
                    var sEcho;
                    for (var i = 0; i < aoData.length; i++) {
                        if (aoData[i].name == "iDisplayStart") {
                            iDisplayStart = aoData[i].value;
                        } else if (aoData[i].name == "iDisplayLength") {
                            iDisplayLength = aoData[i].value;
                        }
                        else if (aoData[i].name == "sEcho") {
                            sEcho = aoData[i].value;
                        }
                    }
                    var page = (iDisplayStart / iDisplayLength) + 1;
                    $.ajax({
                        "type": "post",
                        "url": sSource,
                        "dataType": "json",
                        "data": {
                            "dateRange": $("#dateRangeModel").val(),
                            "aoData": aoData,
                            "mode": "Model",
                            "iDisplayStart": iDisplayStart,
                            "iDisplayLength": iDisplayLength,
                            "page": page,
                            "sEcho": sEcho
                        },
                        "success": function (resp) {
                            fnCallback(resp);
                        },
                        "error": function (response) {
                            window.wxc.xcConfirm("数据格式不合法~", window.wxc.xcConfirm.typeEnum.error);
                        }
                    });
                }

                var initPlaybookTable = function () {
                    if (playbookTable != null) {
                        playbookTable.fnClearTable(0);
                        playbookTable.fnDraw(); //重新加载数据
                        playbookTable.fnDestroy();
                    }
                    playbookTable = $('#playbookTableList').dataTable({
                        "fnPreDrawCallback": function () {
                            $('.dataTable_header').remove();
                        },
                        "aLengthMenu": [10, 20, 50, 100], //更改显示记录数选项
                        "bProcessing": true,
                        "bStateSave": true, //是否打开客户端状态记录功能,此功能在ajax刷新纪录的时候不会将个性化设定回复为初始化状态
                        "bJQueryUI": false, //是否使用 jQury的UI theme
                        "bFilter": false,// 搜索栏
                        "bLengthChange": true, //关闭每页显示多少条数据
                        "bSort": false,
                        "bStateSave": false,
                        "bServerSide": true,
                        "iDisplayStart": 0,
                        "iDisplayLength": 10,
                        "bScrollCollapse": true, //是否开启DataTables的高度自适应，当数据条数不够分页数据条数的时候，插件高度是否随数据条数而改变
                       // "bAutoWidth": false, //是否自适应宽度
                        "aoColumns": [//设定各列宽度
                            {"mData": "ans_id", "sDefaultContent": "", "bSearchable": false, "sClass": "text-center"},
                            {"mData": "ans_user", "sDefaultContent": "", "bSearchable": false, "sClass": "text-center"},
                            {"mData": "ans_name", "sDefaultContent": "", "bSearchable": false, "sClass": "text-center"},
                            {
                                "mData": "ans_content",
                                "sDefaultContent": "",
                                "bSearchable": false,
                                "sClass": "text-center"
                            },
                            {
                                "mData": "create_time",
                                "sDefaultContent": "",
                                "bSearchable": false,
                                "sClass": "text-center"
                            },
                           // {"mData": null, "sDefaultContent": "", "bSearchable": false, "sClass": "text-center"},
                        ],
                        "oLanguage": {
                            "sLengthMenu": "每页显示 _MENU_条",
                            "sZeroRecords": "没有找到符合条件的数据",
                            "sProcessing": " 数据加载中， 请稍候......",
                            "sInfo": "当前第 _START_ - _END_ 条　共计 _TOTAL_ 条",
                            "sInfoEmpty": "没有记录",
                            "sInfoFiltered": "(从 _MAX_ 条记录中过滤)",
                            "sSearch": "",
                            "oPaginate": {
                                "sFirst": "首页",
                                "sPrevious": "前一页",
                                "sNext": "后一页",
                                "sLast": "尾页"
                            }
                        },
                        "fnRowCallback": function (nRow, aData, iDisplayIndex) {
                            var ans_server = aData.ans_server;
                            var id = aData.id;
                           /* var html = '<a href="javascript:" onclick="getAnsibleServer(this,\'' + ans_server + '\')">' +
                                '	<button class="btn btn-info btn-xs"  data-toggle="modal" data-target="#myAnsibleModelModal">' +
                                '		<abbr title="查看目标服务器"><i class="fa  fa-group   "></i></abbr>' +
                                '	</button>' +
                                '</a>' +
                                '<a href="javascript:" onclick="getAnsiblePlaybookResult(this,\'' + id + '\')">' +
                                '	<button class="btn btn-primary btn-xs"  data-toggle="modal" data-target="#myAnsibleModelModal">' +
                                '		<abbr title="查看执行结果"><i class="glyphicon glyphicon-zoom-in  bigger-110 icon-only"></i></abbr>' +
                                '	</button>' +
                                '</a>' +
                                '<a href="javascript:" onclick="getAnsibleSum(this,\'' + id + '\')">' +
                                '	<button class="btn btn-primary btn-xs"  data-toggle="modal" data-target="#playbookSum">' +
                                '		<abbr title="查看playbook汇总结果"><i class="fa  fa-eye  "></i></abbr>' +
                                '	</button>' +
                                '</a>';*/
                            var eq0='<a class="operationTap" onclick="operationTap(this,\''+id+'\',\''+ans_server+'\',\'playbook\')">'+aData.ans_id+'</a>';
                            $('td:eq(0)', nRow).html(eq0);//设置该列的值
                            return nRow;
                        },
                        "sAjaxSource": "/log/ansible/log/playbook/",
                        "fnServerData": retrievePlaybookData
                    });
                }

                function retrievePlaybookData(sSource, aoData, fnCallback) {
                    var iDisplayStart = 0;
                    var iDisplayLength = 10;
                    var sEcho;
                    for (var i = 0; i < aoData.length; i++) {
                        if (aoData[i].name == "iDisplayStart") {
                            iDisplayStart = aoData[i].value;
                        } else if (aoData[i].name == "iDisplayLength") {
                            iDisplayLength = aoData[i].value;
                        }
                        else if (aoData[i].name == "sEcho") {
                            sEcho = aoData[i].value;
                        }
                    }
                    var page = (iDisplayStart / iDisplayLength) + 1;
                    $.ajax({
                        "type": "post",
                        "url": sSource,
                        "dataType": "json",
                        "data": {
                            "dateRange": $("#dateRangePlaybook").val(),
                            "aoData": aoData,
                            "mode": "Playbook",
                            "iDisplayStart": iDisplayStart,
                            "iDisplayLength": iDisplayLength,
                            "page": page,
                            "sEcho": sEcho
                        },
                        "success": function (resp) {
                            fnCallback(resp);
                        },
                        "error": function (response) {
                            window.wxc.xcConfirm("数据格式不合法~", window.wxc.xcConfirm.typeEnum.error);
                        }
                    });
                }

                function deleteAnsibleModelLogs(obj, id) {
                    var txt = "是否确认删除？";
                    var btnObj = $(obj);
                    btnObj.attr('disabled', true);
                    var option = {
                        title: "删除记录",
                        btn: parseInt("0011", 2),
                        onOk: function () {
                            $.ajax({
                                dataType: "JSON",
                                url: '/api/logs/ansible/model/' + id + '/', //请求地址
                                type: "DELETE",  //提交类似
                                success: function (response) {
                                    var str = 'modelLogs-' + id
                                    document.getElementById(str).innerHTML = '';
                                }
                            });
                        },
                        onCancel: function () {
                            btnObj.attr('disabled', false);
                        },
                        onClose: function () {
                            btnObj.attr('disabled', false);
                        }
                    }
                    window.wxc.xcConfirm(txt, "custom", option);

                }

                function deleteAnsiblePlaybookLogs(obj, id) {
                    var txt = "是否确认删除？";
                    var btnObj = $(obj);
                    btnObj.attr('disabled', true);
                    var option = {
                        title: "删除记录",
                        btn: parseInt("0011", 2),
                        onOk: function () {
                            $.ajax({
                                dataType: "JSON",
                                url: '/api/logs/ansible/playbook/' + id + '/', //请求地址
                                type: "DELETE",  //提交类似
                                success: function (response) {
                                    var str = 'playbookLogs-' + id
                                    document.getElementById(str).innerHTML = '';
                                }
                            });
                        },
                        onCancel: function () {
                            btnObj.attr('disabled', false);
                        },
                        onClose: function () {
                            btnObj.attr('disabled', false);
                        }
                    }
                    window.wxc.xcConfirm(txt, "custom", option);

                }

                function getAnsibleServer(obj, server) {
                    var server = server.replace(new RegExp(',', "gm"), '\n');
                    $("#ansible_task_result").html(server);
                    $("#myAnsibleModelModalLabel").html("执行主机");
                }

                function getAnsibleModelResult(obj, id) {
                    $.ajax({
                        dataType: "JSON",
                        url: '/log/ansible/logview/model/', //请求地址
                        type: "POST",  //提交类似
                        "data": {
                            "logModelID": id,
                        },
                        success: function (response) {
                            $("#ansible_task_result").html(response["data"]);
                            $("#myAnsibleModelModalLabel").html("执行结果");
                        }
                    })
                }

                function getAnsiblePlaybookResult(obj, id) {
                    $.ajax({
                        dataType: "JSON",
                        url: '/log/ansible/logview/playbook/', //请求地址
                        type: "POST",  //提交类似
                        "data": {
                            "logPlaybookID": id,
                        },
                        success: function (response) {
                            $("#ansible_task_result").html(response["data"]);
                            $("#myAnsibleModelModalLabel").html("执行结果");
                        }
                    })
                }

                function getAnsibleConciseResult(obj, id) {
                    $.ajax({
                        "dataType": "JSON",
                        "url": '/log/ansible/concise/', //请求地址
                        "type": "POST",  //提交类似
                        "data": {
                            "model_id": id,
                        },
                        "success": function (response) {
                            $("#ansible_task_result").html(response["data"]);
                            $("#myAnsibleModelModalLabel").html("执行结果");
                        }
                    })
                }

                function getAnsibleSum(obj, id) {
                    $.ajax({
                        "url": "/log/ansible/resultsum/", //请求地址
                        "type": "POST",  //提交类似
                        "dataType": "json",
                        "data": {
                            "playbook_id": id,
                        },
                        "success": function (response) {
                            if (response["code"] == "500") {
                                window.wxc.xcConfirm(response["msg"], window.wxc.xcConfirm.typeEnum.error);
                            }
                            else if (response["code"] == "200") {
                                var htmlStr = '<table class="table"><thead><th>主机</th><th>成功</th><th>失败</th><th>跳过</th><th>更改</th><th>主机不可达</th><th>结果</th></thead><tbody>';
                                for (x in response["data"]) {
                                    if (response["data"][x]['result'] == 'Succeed') {
                                        var btTag = '<button type="button" class="btn btn-outline btn-success disabled">成功</button>'
                                    }
                                    else {
                                        var btTag = '<button type="button" class="btn btn-outline btn-danger disabled">失败</button>'
                                    }
                                    ;
                                    htmlStr += '<tr><td>' + response["data"][x]['host'] +
                                        '</td><td><span class="label label-success">' + response["data"][x]['ok'] + '</span>' +
                                        '</td><td><span class="label label-danger">' + response["data"][x]['failed'] + '</span>' +
                                        '</td><td><span class="label label-default">' + response["data"][x]['skipped'] + '</span>' +
                                        '</td><td><span class="label label-warning">' + response["data"][x]['changed'] + '</span>' +
                                        '</td><td><span class="label label-info">' + response["data"][x]['unreachable'] + '</span>' +
                                        '</td><td>' + btTag + '</tr>';
                                }
                                ;
                                htmlStr += '</tbody></table>'
                                $('#summary').html(htmlStr);
                                runAnsibleStatusPer(response["statPer"]);
                                $("#playbookSum").modal('show');

                            }
                            ;

                        },
                        error: function (response) {
                            window.wxc.xcConfirm("运行失败", window.wxc.xcConfirm.typeEnum.error);
                        }
                    })


                }


                var myChart = echarts.init(document.getElementById('statPer'));
                function runAnsibleStatusPer(statPer) {
                    option = {
                        title: {
                            text: 'Playbook部署状态比率',
                            subtext: 'Task Status',
                            x: 'center'
                        },
                        tooltip: {
                            trigger: 'item',
                            formatter: "{a} <br/>{b} : {c} ({d}%)"
                        },
                        legend: {
                            orient: 'vertical',
                            x: 'left',
                            data: ['成功', '失败', '更改', '跳过', '主机不可达']
                        },
                        toolbox: {
                            show: true,
                            feature: {
                                mark: {show: true},
                                dataView: {show: true, readOnly: false},
                                magicType: {
                                    show: true,
                                    type: ['pie', 'funnel'],
                                    option: {
                                        funnel: {
                                            x: '25%',
                                            width: '50%',
                                            funnelAlign: 'left',
                                            max: 1548
                                        }
                                    }
                                },
                                restore: {show: true},
                                saveAsImage: {show: true}
                            }
                        },
                        calculable: true,
                        series: [
                            {
                                name: 'Task Status Per',
                                type: 'pie',
                                radius: '55%',
                                center: ['50%', '60%'],
                                data: [
                                    {value: statPer["ok"], name: '成功'},
                                    {value: statPer["failed"], name: '失败'},
                                    {value: statPer["changed"], name: '更改'},
                                    {value: statPer["skipped"], name: '跳过'},
                                    {value: statPer["unreachable"], name: '主机不可达'}
                                ]
                            }
                        ]
                    };

                    myChart.setOption(option);
                };

                function exportAnsibleResult(aLink, id) {
                    var str = "host,result\n";
                    $.ajax({
                        "dataType": "JSON",
                        "url": '/log/ansible/export/', //请求地址
                        "type": "POST",  //提交类型
                        "data": {
                            "model_id": id,
                        },
                        "success": function (response) {
                            for (var x in response["data"]) {
                                str += response["data"][x] + "\n"
                            }
                            str = encodeURIComponent(str);
                            aLink.href = "data:text/csv;charset=utf-8,\ufeff" + str;
                        }
                    })
                }
                function operationTap(op,id,server,name) {

                    var tr=$(op).parents('tr');
                    var tbody=$(op).parents('tbody');
                    if(tr.find('.operationModel').length!=0){
                        tr.find('.operationModel').remove();
                    }else{
                        var html='';
                        tbody.find('.operationModel').remove();
                        if(name=="ansible"){
                            html='<div class="operationModel"><div class="title">操作栏</div>' +
                                '<a href="javascript:" onclick="getAnsibleServer(this,\'' + server + '\')">' +
                                '	<button class="btn btn-info btn-xs"  data-toggle="modal" data-target="#myAnsibleModelModal">' +
                                '		<abbr title="查看目标服务器"><i class="fa  fa-group   "></i></abbr>' +
                                '	</button>' +
                                '</a>' +
                                '<a href="javascript:" onclick="getAnsibleModelResult(this,\'' + id + '\')">' +
                                '	<button class="btn btn-primary btn-xs"  data-toggle="modal" data-target="#myAnsibleModelModal">' +
                                '		<abbr title="查看原始执行结果"><i class="glyphicon glyphicon-zoom-in  bigger-110 icon-only"></i></abbr>' +
                                '	</button>' +
                                '</a>' +
                                '<a href="javascript:" onclick="getAnsibleConciseResult(this,\'' + id + '\')">' +
                                '	<button class="btn btn-primary btn-xs"  data-toggle="modal" data-target="#myAnsibleModelModal">' +
                                '		<abbr title="查看简化执行结果"><i class="glyphicon glyphicon-zoom-out  bigger-110 icon-only"></i></abbr>' +
                                '	</button>' +
                                '</a>' +
                                ' <a href="javascript:" onclick="exportAnsibleResult(this,\'' + id + '\')" download="export.csv" >' +
                                '	<button class="btn btn-primary btn-xs" >' +
                                '		<abbr title="导出简化执行结果(CSV文件)"><i class="glyphicon glyphicon-export  bigger-110 icon-only"></i></abbr>' +
                                '	</button>' +
                                '</a> '+
                             '</div>';
                        }else{
                            html='<div class="operationModel"><div class="title">操作栏</div>' +
                                '<a href="javascript:" onclick="getAnsibleServer(this,\'' + server + '\')">' +
                                '	<button class="btn btn-info btn-xs"  data-toggle="modal" data-target="#myAnsibleModelModal">' +
                                '		<abbr title="查看目标服务器"><i class="fa  fa-group   "></i></abbr>' +
                                '	</button>' +
                                '</a>' +
                                '<a href="javascript:" onclick="getAnsiblePlaybookResult(this,\'' + id + '\')">' +
                                '	<button class="btn btn-primary btn-xs"  data-toggle="modal" data-target="#myAnsibleModelModal">' +
                                '		<abbr title="查看执行结果"><i class="glyphicon glyphicon-zoom-in  bigger-110 icon-only"></i></abbr>' +
                                '	</button>' +
                                '</a>' +
                                '<a href="javascript:" onclick="getAnsibleSum(this,\'' + id + '\')">' +
                                '	<button class="btn btn-primary btn-xs"  data-toggle="modal" data-target="#playbookSum">' +
                                '		<abbr title="查看playbook汇总结果"><i class="fa  fa-eye  "></i></abbr>' +
                                '	</button>' +
                                '</a>'+
                             '</div>';
                        }
                        tr.append(html);
                    }
                  /*$(document).one('click',function () {
                        tbody.find('.operationModel').remove();
                   {)*/
                }
                $("table tbody tr td").click(function (event) {
                        alert("frtgtr")
                    })
            </script>

{% endblock %}