{% extends 'index.html' %}
{% block page-content %}
    <style>
        label.control-label {
            font-size: 16px;
        }

        #formAdd .btn-group.bootstrap-select button,
        .form-control {
            background: rgba(0, 0, 0, 0.3);
            color: #fff;
        }

        @media (max-width: 768px) {
            #formAdd .btn-group.bootstrap-select {
                width: 100%;
            }
        }
    </style>
    <div id="page-wrapper">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-header"><i class="fa   fa-dashboard"></i>&nbsp;<span>添加主机</span></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-database"></i>&nbsp;主机明细
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <form id="formAdd" class="form-horizontal"> {% csrf_token %}
                            <div class="form-group">
                                <label for="device_id" class="col-lg-2 col-sm-2 control-label">设备编码<span
                                        style="color:red;"> *</span></label>
                                <div class="col-lg-3 col-sm-4">
                                    <input type="number" class="form-control" data-toggle="tooltip" id="device_id"
                                           name="device_id">
                                </div>
                                <label for="platform_id" class="col-lg-2 col-sm-2 control-label">所属平台<span
                                        style="color:red;"> *</span></label>
                                <div class="col-lg-3 col-sm-4">
                                    <select class="selectpicker   " data-live-search="true"
                                            data-live-search-placeholder="请输入检索内容" data-none-selected-text="请选择平台"
                                            name="platform_id" data-width="100%" id="platform_id" required>
                                        {% for ds in groupList %}
                                            <option name="platform_id"
                                                    value="{{ ds.id }}">{{ ds.platform_name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                            </div>
                            <div class="form-group">
                                <label for="ansible_ssh_host" class="col-lg-2 col-sm-2 control-label">服务器IP<span
                                        style="color:red;"> *</span></label>
                                <div class="col-lg-3 col-sm-4">
                                    <input type="email" class="form-control" id="ansible_ssh_host"
                                           name="ansible_ssh_host">
                                </div>
                                <label for="ansible_ssh_port" class="col-lg-2 col-sm-2 control-label">服务器端口<span
                                        style="color:red;"> *</span></label>
                                <div class="col-lg-3 col-sm-4">
                                    <input type="number" class="form-control" id="ansible_ssh_port"
                                           name="ansible_ssh_port">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="ansible_ssh_user" class="col-lg-2 col-sm-2 control-label">服务器用户<span
                                        style="color:red;"> *</span></label>
                                <div class="col-lg-3 col-sm-4">
                                    <input type="email" class="form-control" id="ansible_ssh_user"
                                           name="ansible_ssh_user">
                                </div>
                                <label for="device_name" class="col-lg-2 col-sm-2 control-label">设备名称<span
                                        style="color:red;"> *</span></label>
                                <div class="col-lg-3 col-sm-4">
                                    <input type="text" class="form-control" id="device_name" name="device_name">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12 text-center">
                                    <button type="button" class="btn btn-default" onclick="cancelClick()"
                                            style="margin-right:20px">取消
                                    </button>
                                    <button id="btn-submit" type="button" class="btn btn-primary"
                                            style="margin-left:20px">提交
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $("[data-toggle='tooltip']").tooltip();


            //提交按钮
            $("#btn-submit").click(function () {
                if ($("#device_id").val() == '') {
                    window.wxc.xcConfirm("请输入设备编码", window.wxc.xcConfirm.typeEnum.error);
                    return;
                }
                else if ($("#platform_id").val() == '') {
                    window.wxc.xcConfirm("请输入所属平台", window.wxc.xcConfirm.typeEnum.error);
                    return;
                }
                else if ($("#ansible_ssh_host").val() == '') {
                    window.wxc.xcConfirm("请输入服务器IP", window.wxc.xcConfirm.typeEnum.error);
                    return;
                }
                else if ($("#ansible_ssh_port").val() == '') {
                    window.wxc.xcConfirm("请输入服务器端口", window.wxc.xcConfirm.typeEnum.error);
                    return;
                }
                else if ($("#ansible_ssh_user").val() == '') {
                    window.wxc.xcConfirm("请输入请输入服务器用户", window.wxc.xcConfirm.typeEnum.error);
                    return;
                } else if ($("#device_name").val() == '') {
                    window.wxc.xcConfirm("请输入请输入服务器名称", window.wxc.xcConfirm.typeEnum.error);
                    return;
                }
                $.ajax({
                    "type": "post",
                    "url": "/asset/hard/add/",
                    "dataType": "json",
                    "data": {
                        "device_id": $("#device_id").val(),
                        'device_name': $("#device_name").val(),
                        "platform_id": $("#platform_id").val(),
                        "ansible_ssh_host": $("#ansible_ssh_host").val(),
                        "ansible_ssh_user": $("#ansible_ssh_user").val(),
                        "ansible_ssh_port": $("#ansible_ssh_port").val(),
                    },
                    "success": function (resp) {
                        location.href = '/asset/list/'
                    },
                    "error": function (response) {
                        window.wxc.xcConfirm("操作失败!", window.wxc.xcConfirm.typeEnum.error);
                    }
                });
            });
        });

        function inventoryValidator() {
            $('#formAdd').bootstrapValidator({
                message: 'This value is not valid',
                feedbackIcons: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },
                fields: {
                    device_id: {
                        message: '系统权限名验证失败',
                        validators: {
                            notEmpty: {
                                message: '设备编码不能为空'
                            }
                        }
                    },
                    device_name: {
                        validators: {
                            notEmpty: {
                                message: '设备名称不能为空'
                            }
                        }
                    },
                    platform_id: {
                        validators: {
                            notEmpty: {
                                message: '所属平台不能为空'
                            }
                        }
                    },
                    ansible_ssh_host: {
                        validators: {
                            notEmpty: {
                                message: '服务器IP不能为空'
                            }
                        }
                    },
                    ansible_ssh_user: {
                        validators: {
                            notEmpty: {
                                message: '服务器用户不能为空'
                            }
                        }
                    },
                    ansible_ssh_port: {
                        validators: {
                            notEmpty: {
                                message: '服务器端口不能为空'
                            }
                        }
                    }
                }
            });

        }

        function cancelClick() {
            location.href = '/asset/list/'
        }
    </script>
{% endblock %}
