{% extends 'index.html' %}
{% block page-content %}
    {% load static %}
    <div id="page-wrapper" class="hard_list">
        <div class="row" style="margin-top: 50px">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-database"></i>&nbsp;业务平台列表
                    </div>

                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="queryForm">
                            <form class="form-inline" style="display: inline-block">
                                <label class="control-label" for="query_platform_name">业务平台名称</label>
                                <input class="form-control auto-input input-sm" id="query_platform_name"
                                       name="query_platform_name"
                                       type="text"
                                       placeholder="名称">
                                <input type="button" id="query" class="btn btn-primary queryBtn btn-sm" value="查询">
                            </form>
                            <a class="btn btn-default btn-warning btn-sm" href="/asset/platform/add/">
                                <i class="fa fa-plus-circle"></i>&nbsp;新增业务平台</a>
                            <button class="btn btn-default btn-success btn-sm" onclick="editSSHConfig()"><i
                                    class="fa fa-plus-circle "></i>&nbsp;修改代理配置
                            </button>
                            <div class="btn-group" role="group">
                                <input type="file" name="importFile" id="importFile" value="" style="display: none"
                                       onchange="dataImportChangeTap(this)">
                                <button type="button" class="btn btn-info btn-sm" onclick="dataImportTap()">数据导入
                                </button>
                                <button type="button" class="btn btn-info btn-sm" onclick="dataExportTap()">数据导出
                                </button>
                            </div>
                        </div>
                        <table id="dataTableList"
                               class="table table-striped table-bordered table-advance table-hove displayr nowrap"
                               style="word-break:break-all;width:100%">
                            <thead>
                            <tr>
                                <th class="text-center">业务平台名称</th>
                                <th class="text-center">业务平台描述</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
        </div>
    </div>

    <div class="modal fade" id="modfiyModal" tabindex="-1" role="dialog" aria-labelledby="myZoneModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                </div>
                <div class="modal-body">
                    <form id="form" class="form-horizontal">
                        <div class="form-group">
                            <label for="platform_name" class="col-sm-4 control-label">业务平台名称</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="platform_name" name="platform_name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="platform_desc" class="col-sm-4 control-label">业务平台描述</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="platform_desc" name="platform_desc">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                    </button>
                    <button type="button" class="btn btn-primary" onclick="modfiy()">
                        提交
                    </button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>

    <div class="modal fade" id="modSSHConfigDialog" tabindex="-1" role="dialog" aria-labelledby="myZoneModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title" id="myZoneModalLabel">修改代理配置</h4>
                </div>
                <div class="modal-body">
                    <div id="modSSHConfig" name="modSSHConfig" style="height: 500px;"></div>
                </div>
                <!--VRO stands for: validation result of-->
                <pre id="VRModSSHContent" class="hide VRModSSHContent"></pre>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" onclick="saveSSHConfig()">保存</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            var autoinput = $("input.auto-input");
            autoinput.attr('size', 4);
            autoinput.keyup(function () {
                $(this).attr('size', $(this).val().length > 4 ? $(this).val().length : 4);
            });
            autoinput.keydown(function () {
                $(this).keyup()
            });
        });
    </script>

    <script src="../../static/js/config.js"></script>
    <script type="text/javascript">
        var oTable = null;
        var exportData = [];
        $(document).ready(function () {
            initTable();
            $("#query").click(function () {
                initTable();
            })
        });


        var initTable = function () {
            if (oTable != null) {
                oTable.fnClearTable(0);
                oTable.fnDraw(); //重新加载数据
                oTable.fnDestroy();
            }
            oTable = $('#dataTableList').dataTable({
                "fnPreDrawCallback": function () {
                    $('.dataTable_header').remove();
                },
                "aLengthMenu": [10, 20, 50, 100], //更改显示记录数选项
                "bProcessing": true,
                //"scrollX": true,
                "bStateSave": true, //是否打开客户端状态记录功能,此功能在ajax刷新纪录的时候不会将个性化设定回复为初始化状态
                "bJQueryUI": false, //是否使用 jQury的UI theme
                "bFilter": false,// 搜索栏
                "bLengthChange": true, //关闭每页显示多少条数据
                "bSort": false,
                "bStateSave": false,
                "bServerSide": true,
                "iDisplayStart": 0,
                "iDisplayLength": 10,
                "bScrollCollapse": true, //是否开启DataTables的高度自适应，当数据条数不够分页数据条数的时候，插件高度是否随数据条数而改变
                "bAutoWidth": false, //是否自适应宽度
                "aoColumns": [//设定各列宽度
                    {"mData": "platform_name", "sDefaultContent": "", "bSearchable": false, "sClass": "text-center"},
                    {"mData": "platform_desc", "sDefaultContent": "", "bSearchable": false, "sClass": "text-center"},
                ],
                "oLanguage": {
                    "sLengthMenu": "每页显示 _MENU_条",
                    "sZeroRecords": "没有找到符合条件的数据",
                    "sProcessing": " 数据加载中， 请稍候......",
                    "sInfo": "当前第 _START_ - _END_ 条　共计 _TOTAL_ 条",
                    "sInfoEmpty": "没有记录",
                    "sInfoFiltered": "(从 _MAX_ 条记录中过滤)",
                    "sSearch": "",
                    "oPaginate": {
                        "sFirst": "首页",
                        "sPrevious": "前一页",
                        "sNext": "后一页",
                        "sLast": "尾页"
                    }
                },
                "fnRowCallback": function (nRow, aData, iDisplayIndex) {
                    var platform_name = aData.platform_name;
                    var html = '<button  type="button" class="btn btn-primary btn-xs" data-toggle="tooltip" data-placement="left" title="编辑设备" ' +
                        'onclick="modfiyView(\'' + platform_name + '\')"><i class="glyphicon glyphicon-edit"></i></button>&nbsp;' +
                        '<button  type="button" class="btn btn-danger btn-xs" data-toggle="tooltip" data-placement="left" title="删除设备" ' +
                        'onclick="del(this,\'' + platform_name + '\')" ><i class="glyphicon glyphicon-trash"></i></button>';
                    var platform_name_html = '<div onclick="operationTap(this,\'' + platform_name + '\')"><a>' + platform_name + '</a></div>';
                    $('td:eq(0)', nRow).html(platform_name_html);
                    //$('td:eq(5)', nRow).html(html);//设置该列的值
                    return nRow;
                },
                "fnInitComplete": function (oSettings, json) {
                    $("[data-toggle='tooltip']").tooltip();
                },
                "sAjaxSource": "/asset/platform/select/",
                "fnServerData": retrieveData
            });
        }

        function retrieveData(sSource, aoData, fnCallback) {
            var iDisplayStart = 0;
            var iDisplayLength = 10;
            var page = (iDisplayStart / iDisplayLength) + 1;
            $.ajax({
                "type": "post",
                "url": sSource,
                "dataType": "json",
                "data": {
                    "platform_name": $("#query_platform_name").val(),
                    {#"platform_desc": $("#platform_desc").val(),#}
                    "aoData": aoData,
                    "iDisplayStart": iDisplayStart,
                    "iDisplayLength": iDisplayLength,
                    "page": page
                },
                "success": function (resp) {
                    fnCallback(resp);
                },
                "error": function (response) {
                    window.wxc.xcConfirm("数据格式不合法~", window.wxc.xcConfirm.typeEnum.error);
                }
            });
        }

        function modfiy() {
            $.ajax({
                "type": "post",
                "url": "/asset/platform/update/",
                "dataType": "json",
                "data": {
                    "platform_name": $("#platform_name").val(),
                    "platform_desc": $("#platform_desc").val()
                },
                "success": function (resp) {
                    initTable()
                    $("#modfiyModal").modal('hide');
                    location.href = '/asset/platform/'
                },
                "error": function (response) {
                    window.wxc.xcConfirm("操作失败!", window.wxc.xcConfirm.typeEnum.error);
                }
            });
        }

        function modfiyView(platform_name) {
            $.ajax({
                "type": "post",
                "url": "/asset/platform/selectbyname/",
                "dataType": "json",
                "data": {
                    "platform_name": platform_name,
                },
                "success": function (resp) {
                    var data = resp["data"];
                    $("#platform_name").val(data.platform_name);
                    $("#platform_name").attr("disabled", true);
                    $("#platform_desc").val(data.platform_desc);
                    $("#modfiyModal").modal('show');
                },
                "error": function (response) {
                    window.wxc.xcConfirm("操作失败!", window.wxc.xcConfirm.typeEnum.error);
                }
            });
        }

        function del(obj, platform_name) {
            var txt = "是否确认删除？";
            var btnObj = $(obj);
            btnObj.attr('disabled', true);
            var option = {
                title: "删除记录",
                btn: parseInt("0011", 2),
                onOk: function () {
                    $.ajax({
                        "type": "post",
                        "url": "/asset/platform/delete/",
                        "dataType": "json",
                        "data": {
                            "platform_name": platform_name
                        },
                        "success": function (resp) {
                            initTable();
                        },
                        "error": function (response) {
                            window.wxc.xcConfirm("操作失败!", window.wxc.xcConfirm.typeEnum.error);
                        }
                    });
                },
                onCancel: function () {
                    btnObj.attr('disabled', false);
                },
                onClose: function () {
                    btnObj.attr('disabled', false);
                }
            }
            window.wxc.xcConfirm(txt, "custom", option);
        }

        function query_by_platform_name() {
            $("#query_platform_name")
        }

        function editSSHConfig() {
            $.ajax({
                "type": "post",
                "url": "/asset/hard/editsshproxy/",
                "dataType": "json",
                "success": function (resp) {
                    if (resp["code"] == 0) {
                        var data = resp["data"];
                        console.log((data));
                        var editor = ace.edit("modSSHConfig");
                        editor.setValue(data.config_content);
                        editor.setOptions({
                            enableBasicAutocompletion: true,
                            enableSnippets: true,
                            enableLiveAutocompletion: false
                        });
                        var validationResult = "#VRModSSHContent";
                        $(validationResult).hide();
                        $("#modSSHConfigDialog").modal('show');
                    } else {
                        window.wxc.xcConfirm(resp["msg"], window.wxc.xcConfirm.typeEnum.error);
                    }
                },
                "error": function (response) {
                    window.wxc.xcConfirm("操作失败!", window.wxc.xcConfirm.typeEnum.error);
                }
            });
        }

        function saveSSHConfig() {
            var editor = ace.edit("modSSHConfig");
            var content = editor.getValue();
            $.ajax({
                "type": "post",
                "url": "/asset/hard/savesshproxy/",
                "dataType": "json",
                "data": {
                    "config_content": content,
                },
                "success": function (resp) {
                    if (resp["code"] == 0) {
                        initTable();
                        window.wxc.xcConfirm(resp["msg"], window.wxc.xcConfirm.typeEnum.success);
                        $("#modSSHConfigDialog").modal('hide');
                    } else {
                        window.wxc.xcConfirm(resp["msg"], window.wxc.xcConfirm.typeEnum.error);
                    }
                },
                "error": function (response) {
                    window.wxc.xcConfirm("操作失败!", window.wxc.xcConfirm.typeEnum.error);
                }
            });
        }

        function operationTap(op, id) {
            var tr = $(op).parents('tr');
            var tbody = $(op).parents('tbody');
            if (tr.find('.operationModel').length != 0) {
                tr.find('.operationModel').remove();
            } else {
                var html = '';
                tbody.find('.operationModel').remove();
                html = '<div class="operationModel"><div class="title">操作栏</div><button  type="button" class="btn btn-primary btn-xs" data-toggle="tooltip" data-placement="left" title="编辑设备" onclick="modfiyView( \'' + id + '\')"><i class="glyphicon glyphicon-edit"></i></button>&nbsp;' +
                    '<button  type="button" class="btn btn-danger btn-xs" data-toggle="tooltip" data-placement="left" title="删除设备" onclick="del(this,\'' + id + '\')" ><i class="glyphicon glyphicon-trash"></i></button></div>';
                tr.append(html)
            }


        }

        var json2csv = function (JSONData, ReportTitle, ShowLabel) {
            var arrData = typeof JSONData != 'object' ? JSON.parse(JSONData) : JSONData;
            var CSV = '';
            if (ShowLabel) {
                var row = "";
                for (var index in arrData[0]) {
                    row += index + ',';
                }
                row = row.slice(0, -1);
                CSV += row + '\r\n';
            }
            for (var i = 0; i < arrData.length; i++) {
                var row = "";
                for (var index in arrData[i]) {
                    row += '"' + arrData[i][index] + '",';
                }

                row.slice(0, row.length - 1);

                //add a line break after each row
                CSV += row + '\r\n';
            }

            if (CSV == '') {
                alert("无效的数据");
                return;
            }
            var fileName = "下载文件名";
            fileName = ReportTitle.replace(/ /g, "_");
            CSV = "\ufeff" + CSV;
            var uri = window.URL.createObjectURL(new Blob([CSV], {type: 'text/plain,charset=utf-8'}));
            var link = document.createElement("a");
            link.href = uri;
            link.download = fileName + ".csv";
            document.body.appendChild(link);
            link.click();
            document.body.removeChild(link);
        };

        function dataExportTap() {
            var data = [
                {name: '张三', amont: '323433.56', proportion: 33.4},
                {name: '李四', amont: '545234.43', proportion: 55.45}
            ];
            json2csv(data, 'frtfr')
        }

        function dataImportTap() {
            $("#importFile").trigger('click');
        }

        // 数据导入
        function dataImportChangeTap(op) {
            var formFile = new FormData();
            formFile.append("file", op.files[0]);
            $.ajax({
                url: "",
                data: formFile,
                type: "Post",
                dataType: "json",
                cache: false,
                processData: false,
                contentType: false,
                "success": function (resp) {
                    if (resp["code"] == 0) {
                        initTable();
                        window.wxc.xcConfirm(resp["msg"], window.wxc.xcConfirm.typeEnum.success);
                    } else {
                        window.wxc.xcConfirm(resp["msg"], window.wxc.xcConfirm.typeEnum.error);
                    }
                },
                "error": function (response) {
                    window.wxc.xcConfirm("操作失败!", window.wxc.xcConfirm.typeEnum.error);
                }
            })
        }
    </script>
    <script src="{% static 'js/src-noconflict/ace.js' %}" type="text/javascript" charset="utf-8"></script>
    <script>
        var langTools = ace.require("ace/ext/language_tools");
        var editorForExisted = ace.edit("modSSHConfig"); // for amending existed playbook
        editorForExisted.setTheme("ace/theme/twilight");
        editorForExisted.session.setMode("ace/mode/text");
    </script>
{% endblock %}