{% extends 'index.html' %}
{% block page-content %}

    <div id="page-wrapper" class="asset_port_list">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header"><i class="fa   fa-dashboard"></i>&nbsp;<span>端口列表</span> </h1>
            </div>
        </div>
{#        <div class="row">#}
{#            <div class="col-lg-12">#}
{#                <div class="panel panel-default">#}
{#                    <!-- /.panel-heading -->#}
{#                    <div class="panel-body">#}
{#                        <form class="form-inline row">#}
{#                            <div class="form-group col-lg-4-5  col-md-6 col-sm-6">#}
{#                                <label class="control-label">所属平台</label>#}
{#                                <select class="selectpicker" data-live-search="true"#}
{#                                        data-live-search-placeholder="请输入检索内容" data-none-selected-text="请选择平台"#}
{#                                        name="platform_id_query" id="platform_id_query">#}
{#                                    <option name="platform_id_query" value="0" selected>全部平台</option>#}
{#                                    {% for ds in groupList %}#}
{#                                        <option name="platform_id_query" value="{{ ds.name }}">{{ ds.name }}</option>#}
{#                                    {% endfor %}#}
{#                                </select>#}
{#                            </div>#}
{#                            <div class="form-group col-lg-4-5 col-md-6 col-sm-6">#}
{#                                <label class="control-label ">设备ID</label>#}
{#                                <input class="form-control" id="device_id" name="device_id" type="text">#}
{#                            </div>#}
{#                            <div class="form-group form-group-sm col-lg-3 col-md-12 col-sm-12" style="text-align: right;">#}
{#                                <input type="button" id="query" class="btn btn-primary queryBtn" value="查询">#}
{#                            </div>#}
{#                        </form>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-database"></i>&nbsp;设备端口明细
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <!--查询-->
                        <form class="form-inline queryForm">
                            <label class="control-label">所属平台</label>
                            <select class="auto-select selectpicker select-sm" data-live-search="true"
                                    data-live-search-placeholder="请输入检索内容" data-none-selected-text="请选择平台"
                                    name="platform_id_query" id="platform_id_query">
                                <option name="platform_id_query" value="0" selected>全部平台</option>
                                {% for ds in groupList %}
                                    <option name="platform_id_query" value="{{ ds.name }}">{{ ds.name }}</option>
                                {% endfor %}
                            </select>
                            <label class="control-label">设备ID</label>
                            <input class="auto-input form-control input-sm" id="device_id" name="device_id" type="text">
                            <input type="button" id="query" class="btn btn-primary queryBtn btn-sm" value="查询">
                            <input type="file" name="importFile" id="asset_port_importFile" value="" style="display: none" onchange="dataImportChangeTap(this)">
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-info btn-sm" onclick="dataImportTap()">数据导入</button>
                                <button type="button" class="btn btn-info btn-sm" onclick="dataExportTap()">数据导出</button>
                            </div>
                        </form>

                        <table id="dataTableList"
                               class="table table-striped table-bordered table-advance table-hove displayr nowrap"
                               style="word-break:break-all; word-wrap:break-all;width:100%">
                            <thead>
                            <tr>
                                <th class="text-center">设备ID</th>
                                <th class="text-center">所属平台</th>
                                <th class="text-center">类型</th>
                                <th class="text-center">监听IP</th>
                                <th class="text-center">监听端口</th>
                                <th class="text-center">进程</th>
                            </tr>
                            </thead>
                        </table>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
        </div>
    </div>
     <script>
         $(document).ready(function () {
             var autoinput = $("input.auto-input");
             autoinput.attr('size', 4);
             autoinput.keyup(function () {
                 $(this).attr('size', $(this).val().length > 4 ? $(this).val().length : 4);
             });
             autoinput.keydown(function () {
                 $(this).keyup()
             });
         });
    </script>
    <script src="../../static/js/config.js"></script>
    <script type="text/javascript">
        var oTable = null;
        var exportTable=[];
        $(document).ready(function () {
            initTable();

            $("#query").click(function () {
                initTable();
            })
        });

        var initTable = function () {
            exportTable=[];
            if (oTable != null) {
                oTable.fnClearTable(0);
                oTable.fnDraw(); //重新加载数据
                oTable.fnDestroy();
            }
            oTable = $('#dataTableList').dataTable({
                "fnPreDrawCallback": function () {
                    $('.dataTable_header').remove();
                },
                "aLengthMenu": [10, 20, 50, 100], //更改显示记录数选项
                "bProcessing": true,
                //"scrollX": true,
                "bStateSave": true, //是否打开客户端状态记录功能,此功能在ajax刷新纪录的时候不会将个性化设定回复为初始化状态
                "bJQueryUI": false, //是否使用 jQury的UI theme
                "bFilter": false,// 搜索栏
                "bLengthChange": true, //关闭每页显示多少条数据
                "bSort": false,
                "bStateSave": false,
                "bServerSide": true,
                "iDisplayStart": 0,
                "iDisplayLength": 10,
                "bScrollCollapse": true, //是否开启DataTables的高度自适应，当数据条数不够分页数据条数的时候，插件高度是否随数据条数而改变
                "bAutoWidth": false, //是否自适应宽度
                "aoColumns": [//设定各列宽度
                    {"mData": "device_id", "sDefaultContent": "", "bSearchable": false, "sClass": "center"},
                    {"mData": "platform_name", "sDefaultContent": "", "bSearchable": false, "sClass": "right"},
                    {"mData": "stream_type", "sDefaultContent": "", "bSearchable": false, "sClass": "left"},
                    {"mData": "listen_ip", "sDefaultContent": "", "bSearchable": false, "sClass": "center"},
                    {"mData": "listen_port", "sDefaultContent": "", "bSearchable": false, "sClass": "center"},
                    {"mData": "process", "sDefaultContent": "", "bSearchable": false, "sClass": "center"},
                ],
                "oLanguage": {
                    "sLengthMenu": "每页显示 _MENU_条",
                    "sZeroRecords": "没有找到符合条件的数据",
                    "sProcessing": " 数据加载中， 请稍候......",
                    "sInfo": "当前第 _START_ - _END_ 条　共计 _TOTAL_ 条",
                    "sInfoEmpty": "没有记录",
                    "sInfoFiltered": "(从 _MAX_ 条记录中过滤)",
                    "sSearch": "",
                    "oPaginate": {
                        "sFirst": "首页",
                        "sPrevious": "前一页",
                        "sNext": "后一页",
                        "sLast": "尾页"
                    }
                },
                "fnRowCallback": function (nRow, aData, iDisplayIndex) {
                    var exportData={
                        index:iDisplayIndex,
                        aData:aData
                    };
                    exportTable.push(exportData);
                    return nRow;
                },
                "fnInitComplete": function (oSettings, json) {
                    $("[data-toggle='tooltip']").tooltip();
                },
                "sAjaxSource": "/asset/port/",
                "fnServerData": retrieveData
            });
        }


        function retrieveData(sSource, aoData, fnCallback) {
            var iDisplayStart = 0;
            var iDisplayLength = 10;
            var sEcho;
            for (var i = 0; i < aoData.length; i++) {
                if (aoData[i].name == "iDisplayStart") {
                    /*开始页数*/
                    iDisplayStart = aoData[i].value;
                } else if (aoData[i].name == "iDisplayLength") {
                    /*记录条数*/
                    iDisplayLength = aoData[i].value;
                }
                else if (aoData[i].name == "sEcho") {
                    /*记录条数*/
                    sEcho = aoData[i].value;
                }
            }
            var page = (iDisplayStart / iDisplayLength) + 1;
            $.ajax({
                "type": "post",
                "url": sSource,
                "dataType": "json",
                "data": {
                    "platform_id": $("#platform_id_query").val(),
                    "device_id": $("#device_id").val(),
                    "aoData": aoData,
                    "iDisplayStart": iDisplayStart,
                    "iDisplayLength": iDisplayLength,
                    "page": page,
                    "sEcho": sEcho
                },
                "success": function (resp) {
                    fnCallback(resp);
                },
                "error": function (response) {
                    window.wxc.xcConfirm("数据格式不合法~", window.wxc.xcConfirm.typeEnum.error);
                }
            });
        }
          //数据导入
        function dataImportChangeTap(op) {
           var formFile = new FormData();
           formFile.append("file",op.files[0]);
           $.ajax({
               url: "",
               data:formFile,
               type: "Post",
               dataType: "json",
               cache: false,
               processData: false,
               contentType: false,
               "success": function (resp) {
                    if (resp["code"] == 0) {
                        initTable();
                        window.wxc.xcConfirm(resp["msg"], window.wxc.xcConfirm.typeEnum.success);
                    } else {
                        window.wxc.xcConfirm(resp["msg"], window.wxc.xcConfirm.typeEnum.error);
                    }
                },
                "error": function (response) {
                    window.wxc.xcConfirm("操作失败!", window.wxc.xcConfirm.typeEnum.error);
                }
           })
        }
        function dataImportTap() {
            $("#asset_port_importFile").trigger('click');
        }
        function json2csv(JSONData, ReportTitle, ShowLabel) {
            var arrData = typeof JSONData != 'object' ? JSON.parse(JSONData) : JSONData;
            var CSV = '';
            if (ShowLabel) {
                var row = "";
                for (var index in arrData[0]) {
                    row += index + ',';
                }
                row = row.slice(0, -1);
                CSV += row + '\r\n';
            }
            for (var i = 0; i < arrData.length; i++) {
                var row = "";
                for (var index in arrData[i]) {
                    row += '"' + arrData[i][index] + '",';
                }

                row.slice(0, row.length - 1);

                //add a line break after each row
                CSV += row + '\r\n';
            }

            if (CSV == '') {
                alert("无效的数据");
                return;
            }
            var fileName = "下载文件名";
            fileName = ReportTitle.replace(/ /g, "_");
            CSV="\ufeff"+CSV;
            var uri = window.URL.createObjectURL(new Blob([CSV],{type:'text/plain,charset=utf-8'}));
            var link = document.createElement("a");
            link.href = uri;
            link.download = fileName + ".csv";
            document.body.appendChild(link);
            link.click();
            document.body.removeChild(link);
        };
        function dataExportTap(){
            //数据导出前端表格中的数据
             var csvTh={
                device_id:'设备ID',
                platform_name:'所属平台',
                stream_type:'类型',
                listen_ip:'监听IP',
                listen_port:'监听端口',
                process:'进程'
             };
            var dataList=[];
            for(var index=0;index<exportTable.length;index++){
                var obj={
                    device_id:exportTable[index].aData.device_id,
                    platform_name:exportTable[index].aData.platform_name,
                    stream_type:exportTable[index].aData.stream_type,
                    listen_ip:exportTable[index].aData.listen_ip,
                    listen_port:exportTable[index].aData.listen_port,
                    process:exportTable[index].aData.process
                };
                var active=exportTable[index].index;
                dataList[active]=obj;
            }
            dataList.unshift(csvTh);
            json2csv(dataList,'端口列表')
        }
    </script>
{% endblock %}
